{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% include 'head.html' %}
<body class="text-[#D8D8DF]">

  {% include 'header.html' %}

  <div class="ml-4 mt-4 gap-2 flex items-center mb-4">
    <img src="{% static 'file.svg' %}" alt="User Avatar" class="w-4 h-4">
    <h1 class="text-white text-base font-medium">Политика конфиденциальности</h1>
  </div>

  <!-- Основной контент -->
  <div class="pt-4 pb-6 ml-2 mr-2 px-4 mt-4 bg_black rounded-t-2xl">

    <!-- Контент страницы -->
    <h2 class="text-[#D8D8DF] text_pol_confident mb-2">Права и обязанности Пользователя</h2>
    <p class="text_pol_confident mb-1">4.1. Пользователь обязуется:</p>
    <ul class="text_pol_confident pl-4 list-disc space-y-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus enim ipsum, ornare id mauris quis, maximus feugiat tortor. In volutpat non dui rutrum pretium. Integer laoreet iaculis scelerisque. Sed rutrum lacus non iaculis interdum. Morbi massa massa, molestie non magna eget, dictum accumsan leo. Vivamus commodo mi sit amet vehicula semper. In pulvinar hendrerit dignissim. Vivamus mollis metus non lorem commodo laoreet. Maecenas bibendum enim non lectus egestas maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In interdum scelerisque nibh, fermentum interdum quam efficitur ornare. Cras diam massa, tincidunt eu pellentesque nec, commodo in orci. Nam consequat blandit velit, mattis suscipit velit vehicula ac. Aliquam erat volutpat.

Nulla id ipsum quis turpis venenatis condimentum sed at magna. Phasellus dictum condimentum erat vel fringilla. Duis non aliquam ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas nunc ut odio volutpat pulvinar. Duis urna augue, mollis sit amet vulputate ut, tristique sed tortor. Maecenas arcu nisl, mattis vel leo sed, congue porta lectus. Nam nibh ex, consequat non pellentesque vitae, volutpat eu nulla. Nunc mattis tincidunt erat non finibus. Ut aliquet elit quam, non viverra odio efficitur in. Vestibulum a turpis eget purus tempus mollis. Nam sit amet dictum tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Praesent vehicula cursus dolor, nec finibus nibh mattis ut. Nullam porta dapibus ligula, in semper dui sollicitudin vitae. Nam condimentum justo elit, nec posuere purus fringilla ac. Nam ultricies mi ex. Sed luctus velit sed magna fringilla tristique. Maecenas quis justo nec tortor fringilla condimentum nec ut leo. Nulla efficitur egestas arcu vitae semper.

Maecenas elit sem, facilisis ac tincidunt at, ornare a est. Morbi a metus vitae ante aliquet fringilla id eget felis. In vitae felis sed massa finibus tempus cursus sit amet purus. Maecenas eget libero aliquam, finibus nulla ac, mattis velit. Morbi eu pellentesque magna. Vivamus volutpat a mauris porttitor feugiat. Vestibulum volutpat est at scelerisque porttitor. Ut egestas neque eget mi mattis suscipit. Praesent eu sollicitudin felis, id gravida diam. Donec scelerisque fermentum lacus eget blandit. Donec pretium iaculis eros ac hendrerit. Sed nec ex lacinia, varius nunc non, posuere diam. Integer venenatis magna nec ipsum tristique convallis. Sed a massa a ante efficitur dapibus et non quam. Pellentesque semper lectus pellentesque purus bibendum viverra. Mauris gravida nisi quis quam consequat, at facilisis purus volutpat.

Pellentesque quis diam id diam dignissim fringilla. Proin efficitur ornare est, id tristique turpis consequat at. Pellentesque et ante feugiat, posuere nisi quis, accumsan urna. In facilisis enim ultrices, elementum nisl et, rhoncus neque. Nulla nec lorem sed leo lobortis semper non vel sem. Nunc eget leo nec lacus facilisis convallis quis eu velit. Aliquam accumsan accumsan accumsan.

Sed interdum ex iaculis, vulputate lacus ac, pellentesque felis. Ut fringilla vestibulum malesuada. Aliquam imperdiet tempus libero, et maximus libero condimentum in. Maecenas eget ex libero. Suspendisse tristique diam sit amet tellus pellentesque ornare. Aliquam id nulla nec tortor malesuada hendrerit sit amet ac est. Phasellus scelerisque augue sed dui interdum, id pharetra nulla interdum. Nam sollicitudin sodales nunc, sed laoreet eros imperdiet eget. Praesent volutpat eros id velit gravida, id interdum dui consectetur.
    </ul>
    <h2 class="text-[#D8D8DF] text-sm font-medium mt-6 mb-2">Ответственность Пользователя</h2>
    <p class="text-sm mb-1">Пользователь несет ответственность за достоверность предоставляемой информации и за соблюдение действующего законодательства РФ.</p>
  </div>

</body>
</html>
