{% load static %}
<div class="fixed bottom-0 w-full flex justify-center">
    <!-- Навигационная панель -->
    <nav class="bg_sidebar text-gray-300 
                px-4 mx-28 py-2 mb-4 w-full max-w-md 
                rounded-full flex justify-between items-center" 
         aria-label="Bottom Navigation">
      <!-- Левая кнопка "Главная" -->
      <a href="/" class="flex flex-col items-center">
        <!-- Иконка домика (пример SVG иконки) -->
        <img class="w-[1.5rem] h-auto" src="{% static 'home.svg' %}">
        <span class="text-sm">Главная</span>
      </a>
      <!-- Центральная кнопка "GO" -->
      <a class="relative z-10 bg-green-500 text-white font-bold 
                     rounded-full px-5 py-4
                     ring-4 transform green_button" href="/check">
        GO
    </a>
      <!-- Правая кнопка "Вердикты" -->
      <a href="/verdicts" class="flex flex-col items-center">
        <!-- Иконка галочки (пример SVG) -->
        <img class="w-[1.5rem] h-auto" src="{% static 'verdicts.svg' %}">
        <span class="text-sm">Вердикты</span>
      </a>
    </nav>
  </div>