{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'account/vars.css' %}">
  <link rel="stylesheet" href="{% static 'account/style.css' %}">
  
  
  <style>
    html {
        font-size: 0.52vw;
    }
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="_3-account">
    <div class="_3-account__frame-2131329239">
      {% include 'pc/header.html' %}
      <div class="_3-account__frame-1948754060">
        <div class="_3-account__frame-2131329282">
          <div class="_3-account__frame-2131329281">
            <div class="_3-account__frame-1000006073">
              <div class="_3-account__frame-1000006064">
                <img class="_3-account__image-13" src="{{ user.img }}" />
                <img class="_3-account__image-122" src="{% static 'account/image-121.png' %}" />
                <div class="_3-account__frame-10000060622">
                  <img class="_3-account__image-123" src="{{ webapp_user.img }}" />
                </div>
                <div class="_3-account__gefzyyy">{{ user.name }}</div>
              </div>
              <div class="_3-account__frame-1000006063">
                <div class="_3-account__frame-1948754070">
                  <img
                    class="_3-account__frame-1948754062"
                    src="{% static 'account/frame-19487540620.svg' %}"
                  />
                  <div class="_3-account___21-03-2025">21.03.2025</div>
                </div>
              </div>
            </div>
            <div class="_3-account__frame-2131329280">
              <div class="_3-account__frame-1948754046">
                <div class="_3-account__frame-1000006071">
                  <div class="_3-account__div5">Ваш баланс</div>
                </div>
                <div class="_3-account__frame-1000006069">
                  <div class="_3-account__frame-1948754066">
                    <div class="_3-account___128-902">{{ user.balance }} ₽</div>
                    <a class="_3-account__frame-19487540323 button" href="{% url 'pc_pay' %}">
                      <img
                        class="_3-account__frame-19487540502"
                        src="{% static 'account/frame-19487540501.svg' %}"
                      />
                      <div class="_3-account__div6">Пополнить</div>
                    </a>
                  </div>
                  <div class="_3-account__gradient-blur"></div>
                  <img class="_3-account___1" src="{% static 'account/_10.png' %}" />
                  <img class="_3-account___2" src="{% static 'account/_20.png' %}" />
                  <img class="_3-account___12" src="{% static 'account/_11.png' %}" />
                </div>
              </div>
              <div class="_3-account__frame-2131329279">
                <div class="_3-account__frame-1000006071">
                  <div class="_3-account__div5">Акция</div>
                </div>
                <div class="_3-account__frame-1000006069">
                  <div class="_3-account__frame-1948754008">
                    <div class="_3-account__div7">
                      <span>
                        <span class="div-7-span">
                          Экспресс проверка
                          <br />
                        </span>
                        <span class="div-7-span2">обычной цене</span>
                      </span>
                    </div>
                    <div class="_3-account__div8">
                      Дорогие клиенты, мы запускаем уникальную акцию ровно на
                      неделю!
                    </div>
                  </div>
                  <div class="_3-account__frame-1948754126">
                    <div class="_3-account__ellipse-46"></div>
                    <img class="_3-account___4-1" src="{% static 'account/_4-10.png' %}" />
                    <img class="_3-account___4-3" src="{% static 'account/_4-30.png' %}" />
                    <img class="_3-account___4-32" src="{% static 'account/_4-31.png' %}" />
                    <img class="_3-account___4-33" src="{% static 'account/_4-32.png' %}" />
                  </div>
                </div>
              </div>
              <div class="_3-account__frame-2131329278">
                <div class="_3-account__frame-1000006071">
                  <div class="_3-account__div5">Документация приложения</div>
                </div>
                <div class="_3-account__frame-1948754077">
                  <a class="_3-account__frame-1000006078" href="{% url 'pc_user_agree' %}">
                    <div class="_3-account__div9">
                      Пользовательское соглашение
                    </div>
                    <img class="_3-account__vector" src="{% static 'account/vector0.svg' %}" />
                    <div class="_3-account__background">
                      <img class="_3-account__svg2" src="{% static 'account/svg1.svg' %}" />
                    </div>
                  </a>
                  <a class="_3-account__frame-1000006079" href="{% url 'pc_user_agree' %}">
                    <div class="_3-account__div9">
                      Политика конфиденциональности
                    </div>
                    <img class="_3-account__vector2" src="{% static 'account/vector1.svg' %}" />
                    <div class="_3-account__background">
                      <img class="_3-account__svg3" src="{% static 'account/svg2.svg' %}" />
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="_3-account__frame-2131329277">
            <div class="_3-account__frame-21313292782">
              <div class="_3-account__frame-10000060712">
                <div class="_3-account__div5">Заказы</div>
              </div>
              <div class="_3-account__frame-1948754097">
                <div class="_3-account__frame-1948754094">
                  <div class="_3-account__div10">Все</div>
                </div>
                <div class="_3-account__frame-1948754095">
                  <div class="_3-account__div5">В обработке</div>
                </div>
                <div class="_3-account__frame-19487540972">
                  <div class="_3-account__div5">Требует действия</div>
                </div>
                <div class="_3-account__frame-1948754096">
                  <div class="_3-account__div5">Завершенные</div>
                </div>
              </div>
              </div>
              <div class="_3-account__frame-10000060692">
                {% for verdict in verdicts %}
                  <div class="_3-account__frame-140">
                    <div class="_3-account__frame-1342">
                      <img class="_3-account__image2" src="{{ verdict.photo1.url }}" />
                      <div class="_3-account__image-16"></div>
                      <div class="_3-account__frame-19487540692">
                        <div class="_3-account__div12">{{ verdict.get_status_display }}</div>
                      </div>
                    </div>
                    <div class="_3-account__frame-19487540712">
                      <div class="_3-account__frame-1948754068">
                        <div class="_3-account__frame-19487540702">
                          <img
                            class="_3-account__frame-194875406220"
                            src="{% static 'account/frame-194875406219.svg' %}"
                          />
                          <div class="_3-account___21-03-20252">{{ verdict.created_at|date:"d.m.Y" }}</div>
                        </div>
                      </div>
                      <div class="_3-account__frame-19487540703">
                        <div class="_3-account__frame-19487540704">
                          <div class="_3-account__nsdfw">{{ verdict.code }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% empty %}
                  У вас нет вердиктов.
                {% endfor %}
              </div>
            </div>
      <div class="_3-account__frame-2131329238">
        <div class="_3-account__frame-2131329181">
          <div class="_3-account__frame-2131329243">
            <div class="_3-account__frame-2131329242">
              <div class="_3-account__frame-1000002421">
                <div class="_3-account__frame-2131328953">
                  <img class="_3-account__group-9001" src="{% static 'account/group-90010.svg' %}" />
                  <div class="_3-account__frame-1948754082">
                    <div class="_3-account__checker">
                      <span>
                        <span class="checker-span">Check</span><span class="checker-span2">er</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="_3-account__headline">
                  Legit Check - это профессиональный сервис с помощью которого вы
                  сможете проверить любую вещь на оригинальность.
                </div>
              </div>
              <div class="_3-account__headline2">
                © 2019 - 2025 LEGIT CHECK. Все права защищены.
              </div>
            </div>
            <div class="_3-account__frame-2131329241">
              <div class="_3-account__frame-1948754013">
                <div class="_3-account__frame-1948753974">
                  <div class="_3-account__qr-code-1">
                    <img class="_3-account__vector3" src="{% static 'account/vector2.svg' %}" />
                    <img class="_3-account__group" src="{% static 'account/group0.svg' %}" />
                    <div class="_3-account__qr-code-1-1">
                      <img class="_3-account__vector4" src="{% static 'account/vector3.svg' %}" />
                      <img class="_3-account__group2" src="{% static 'account/group1.svg' %}" />
                    </div>
                  </div>
                  <div class="_3-account__frame-1948753973">
                    <div class="_3-account__frame-1948753972"></div>
                    <div class="_3-account__frame-1948753971"></div>
                  </div>
                </div>
              </div>
              <div class="_3-account__headline3">Политика конфиденциальности</div>
              <div class="_3-account__headline4">Пользовательское соглашение</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'pc/sidebar.html' %}
  </div>
  
</body>
</html>