{% load static %}
<div class="_1-hi__frame-2131329207">
        <div class="_1-hi__frame-2131329236">
          <div class="_1-hi__border">
            <div class="_1-hi__frame-3">
              <div class="_1-hi__frame-2">
                <div class="_1-hi__link">
                  <div class="_1-hi__div">О нас</div>
                </div>
                <div class="_1-hi__link2">
                  <div class="_1-hi__div2">Цены</div>
                </div>
                <div class="_1-hi__link3">
                  <div class="_1-hi__div3">Этапы работы</div>
                </div>
                <div class="_1-hi__link4">
                  <div class="_1-hi__div4">Статьи</div>
                </div>
              </div>
            </div>
          </div>
          <div class="_1-hi__frame-1948754033">
            <div class="_1-hi__frame-1948754034">
              <div class="_1-hi__frame-1948754049">
                <div class="_1-hi__frame-19487540492">
                  <img class="_1-hi__svg" src="{% static 'head_page/svg0.svg' %}" />
                  <div class="_1-hi__frame-1948754048">
                    <div class="_1-hi__div5">Авторизируйтесь</div>
                    <div class="_1-hi__telegram">Через Telegram</div>
                  </div>
                </div>
                <img class="_1-hi__svg2" src="{% static 'head_page/svg1.svg' %}" />
              </div>
            </div>
          </div>
          <div class="_1-hi__frame-1948754032">
            <div class="_1-hi__frame-19487540493">
              <img class="_1-hi__svg3" src="{% static 'head_page/svg2.svg' %}" />
              <div class="_1-hi__frame-19487540482">
                <div class="_1-hi__legit-check">@legit_check</div>
                <div class="_1-hi__telegram2">Наш Telegram-канал</div>
              </div>
            </div>
          </div>
        </div>
      </div>

<style>
    ._1-hi__frame-2131329207 {
  align-self: stretch;
  flex-shrink: 0;
  height: 11.1rem;
  position: relative;
  overflow: hidden;
}
._1-hi__frame-2131329236 {
  width: 150.89600000000002rem;
  height: 6.8rem;
  position: absolute;
  left: 20.5rem;
  top: 2.8rem;
}
._1-hi__border {
  background: var(
    --bek-plashek-temnyj,
    linear-gradient(180deg, rgba(23, 28, 36, 1) 0%, rgba(17, 21, 26, 1) 100%)
  );
  border-radius: 100rem;
  border-width: 0.2rem;
  
  border-image: var(
    --obvodka-temnaya-versiya,
    linear-gradient(
      180deg,
      rgba(179, 214, 255, 0.03) 0%,
      rgba(179, 214, 255, 0) 100%
    )
  );
  border-image-slice: 1;
  padding: 2.3rem 2.6rem 2.3rem 2.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 45.4rem;
  height: 6.8rem;
  position: absolute;
  left: 52.8rem;
  top: 0rem;
  overflow: hidden;
}
._1-hi__frame-3 {
  padding: 0.9rem 0rem 0.9rem 0rem;
  flex-shrink: 0;
  width: 35.8rem;
  height: 5.2rem;
  position: relative;
}
._1-hi__frame-2 {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
  justify-content: flex-start;
  width: 35.4rem;
  position: absolute;
  left: -0.05rem;
  top: 0.95rem;
}
._1-hi__link {
  border-radius: 0.8rem;
  flex-shrink: 0;
  width: 5.7rem;
  height: 2.8rem;
  position: relative;
}
._1-hi__div {
  color: #ffffff;
  text-align: left;
  font-family: "GoogleSans-Medium", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  position: absolute;
  left: 0.8rem;
  top: 0.6rem;
  width: 4.1rem;
  height: 1.7rem;
}
._1-hi__link2 {
  border-radius: 0.8rem;
  flex-shrink: 0;
  width: 5.2rem;
  height: 2.8rem;
  position: relative;
}
._1-hi__div2 {
  color: #ffffff;
  text-align: left;
  font-family: "GoogleSans-Medium", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  position: absolute;
  left: 0.75rem;
  top: 0.55rem;
  width: 3.8rem;
  height: 1.7rem;
}
._1-hi__link3 {
  border-radius: 0.8rem;
  flex-shrink: 0;
  width: 10.6rem;
  height: 2.8rem;
  position: relative;
}
._1-hi__div3 {
  color: #ffffff;
  text-align: left;
  font-family: "GoogleSans-Medium", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  position: absolute;
  left: 0.4rem;
  top: 0.5rem;
  width: 9.8rem;
}
._1-hi__link4 {
  border-radius: 0.8rem;
  flex-shrink: 0;
  width: 7.8rem;
  height: 2.8rem;
  position: relative;
}
._1-hi__div4 {
  color: #ffffff;
  text-align: left;
  font-family: "GoogleSans-Medium", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  position: absolute;
  left: 1.4rem;
  top: 0.6rem;
  width: 5rem;
  height: 1.7rem;
}
._1-hi__frame-1948754033 {
  display: flex;
  flex-direction: row;
  gap: 1.8579999999999999rem;
  align-items: center;
  justify-content: flex-start;
  width: 31.1rem;
  position: absolute;
  left: 119.8rem;
  top: 0rem;
}
._1-hi__frame-1948754034 {
  background: var(
    --bek-plashek-temnyj,
    linear-gradient(180deg, rgba(23, 28, 36, 1) 0%, rgba(17, 21, 26, 1) 100%)
  );
  border-radius: 100rem;
  padding: 0.6rem 1.3rem 0.6rem 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 31.1rem;
  height: 7.3rem;
  position: relative;
  overflow: hidden;
}
._1-hi__frame-1948754049 {
  display: flex;
  flex-direction: row;
  gap: 1.342rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 25.381rem;
  position: relative;
}
._1-hi__frame-19487540492 {
  display: flex;
  flex-direction: row;
  gap: 0.9349999999999999rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 19.829rem;
  position: relative;
}
._1-hi__svg {
  flex-shrink: 0;
  width: 4.49rem;
  height: 4.49rem;
  position: relative;
  overflow: visible;
}
._1-hi__frame-1948754048 {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 14.591rem;
  position: relative;
}
._1-hi__div5 {
  color: #ffffff;
  text-align: center;
  font-family: "GoogleSans-Bold", sans-serif;
  font-size: 1.6rem;
  line-height: 2.569rem;
  font-weight: 700;
  position: relative;
  width: 14rem;
  height: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1-hi__telegram {
  color: #464f5d;
  text-align: center;
  font-family: "GoogleSans-Regular", sans-serif;
  font-size: 1.2rem;
  line-height: 1.927rem;
  font-weight: 400;
  position: relative;
  width: 8.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1-hi__svg2 {
  flex-shrink: 0;
  width: 4.149rem;
  height: 4.149rem;
  position: relative;
  overflow: visible;
}
._1-hi__frame-1948754032 {
  background: var(
    --bek-plashek-temnyj,
    linear-gradient(180deg, rgba(23, 28, 36, 1) 0%, rgba(17, 21, 26, 1) 100%)
  );
  border-radius: 185.84300000000002rem;
  border-width: 0.186rem;
  
  border-image: var(
    --obvodka-temnaya-versiya,
    linear-gradient(
      180deg,
      rgba(179, 214, 255, 0.03) 0%,
      rgba(179, 214, 255, 0) 100%
    )
  );
  border-image-slice: 1;
  padding: 1.115rem 2.416rem 1.115rem 2.416rem;
  display: flex;
  flex-direction: column;
  gap: 1.8579999999999999rem;
  align-items: center;
  justify-content: center;
  width: 25.8rem;
  height: 6.8rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
._1-hi__frame-19487540493 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 17.753999999999998rem;
  position: relative;
}
._1-hi__svg3 {
  flex-shrink: 0;
  width: 3.771rem;
  height: 3.771rem;
  position: relative;
  overflow: visible;
}
._1-hi__frame-19487540482 {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 12.254999999999999rem;
  position: relative;
}
._1-hi__legit-check {
  color: #ffffff;
  text-align: center;
  font-family: "GoogleSans-Bold", sans-serif;
  font-size: 1.6rem;
  line-height: 2.157rem;
  font-weight: 700;
  position: relative;
  width: 10.4rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1-hi__telegram2 {
  color: #464f5d;
  text-align: center;
  font-family: "GoogleSans-Regular", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6179999999999999rem;
  font-weight: 400;
  position: relative;
  width: 11.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>