{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'home_page/vars.css' %}">
  <link rel="stylesheet" href="{% static 'home_page/style.css' %}">
  
  
  <style>
    html {
        font-size: 0.52vw;
    }
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
  <link
    rel="stylesheet"
    href="https://unpkg.com/swiper/swiper-bundle.min.css"
  />

  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
  <div class="_2-home">
    <div class="_2-home__frame-2131329239">
      {% include 'pc/header.html' %}
      <div class="_2-home__frame-2131329235">
        <div class="_2-home__frame-21313292352">
          <div class="_2-home__frame-1948754057">
            <div class="_2-home__image-upload-1"></div>
            <div class="_2-home__image-upload-2"></div>
            <div class="_2-home__frame-1948754008">
              <div class="_2-home__div5">
                <span>
                  <span class="div-5-span">
                    Экспресс проверка
                    <br />
                  </span>
                  <span class="div-5-span2">обычной цене</span>
                </span>
              </div>
              <div class="_2-home__div6">
                Дорогие клиенты, мы запускаем уникальную акцию ровно на неделю!
              </div>
            </div>
            <div class="_2-home__frame-1948754126">
              <div class="_2-home__ellipse-46"></div>
              <img class="_2-home___4-1" src="{% static 'home_page/_4-10.png' %}" />
              <img class="_2-home___4-3" src="{% static 'home_page/_4-30.png' %}" />
              <img class="_2-home___4-32" src="{% static 'home_page/_4-31.png' %}" />
              <img class="_2-home___4-33" src="{% static 'home_page/_4-32.png' %}" />
            </div>
          </div>
          <div class="_2-home__frame-1948754047">
            <div class="_2-home__frame-1948754046">
              <div class="_2-home__gradient-blur"></div>
              <a href="{% url 'pc_startcheck' %}" class="_2-home__frame-1000006149 button">
                <img class="_2-home__mask-group" src="{% static 'home_page/mask-group0.svg' %}" />
                <div class="_2-home__background">
                  <img class="_2-home__svg2" src="{% static 'home_page/svg1.svg' %}" />
                </div>
                <div class="_2-home__div7">
                  Начать
                  <br />
                  проверку
                </div>
               </a>
            </div>
            <div class="_2-home__frame-1000006150">
              <div class="_2-home__div8">
                <span>
                  <span class="div-8-span">
                    Найти
                    <br />
                  </span>
                  <span class="div-8-span2">бренд</span>
                </span>
              </div>
              <div class="_2-home__background2">
                <img class="_2-home__svg3" src="{% static 'home_page/svg2.svg' %}" />
              </div>
              <div class="_2-home__gradient-blur2"></div>
              <img class="_2-home___1-2" src="{% static 'home_page/_1-20.png' %}" />
            </div>
          </div>
        </div>
        <div class="_2-home__frame-2131329234">
          <div class="_2-home__frame-2131329244">
            <div class="_2-home__frame-19487540462">
              <a href="https://legitcheck.info" class="_2-home__frame-10000061492 button">
                <img class="_2-home__pattern" src="{% static 'home_page/pattern0.svg' %}" />
                <div class="_2-home__background3">
                  <img class="_2-home__svg4" src="{% static 'home_page/svg3.svg' %}" />
                </div>
                <div class="_2-home__div9">
                  Наши
                  <br />
                  гарантии
                </div>
                </a>
            </div>
            <div href="https://legitcheck.info" class="_2-home__frame-10000061502 button">
              <img class="_2-home__pattern2" src="{% static 'home_page/pattern1.svg' %}" />
              <div class="_2-home__div10">Как мы работаем?</div>
              <div class="_2-home__background4">
                <div class="_2-home__svg5"></div>
                <img class="_2-home__svg4" src="{% static 'home_page/svg5.svg' %}" />
              </div>
            </div>
            <div href="https://legitcheck.info" class="_2-home__frame-19487540472 button">
              <img class="_2-home__pattern3" src="{% static 'home_page/pattern2.svg' %}" />
              <div class="_2-home__div11">
                Как проверять
                <br />
                вещь?
              </div>
              <div class="_2-home__background5">
                <div class="_2-home__svg5"></div>
                <img class="_2-home__svg4" src="{% static 'home_page/svg7.svg' %}" />
              </div>
            </div>
            <a href="https://legitcheck.info" class="_2-home__frame-10000061503 button">
              <img class="_2-home__pattern4" src="{% static 'home_page/pattern3.svg' %}" />
              <div class="_2-home__div12">
                Мы несем полную финансовую ответственность!
              </div>
              <div class="_2-home__background5">
                <div class="_2-home__svg5"></div>
                <img class="_2-home__svg4" src="{% static 'home_page/svg9.svg' %}" />
              </div>
            </a>
          </div>
        </div>
        <div class="_2-home__frame-1948754039">
          <div class="_2-home__frame-1000006071">
            <div class="_2-home__div13">Кроссовки</div>
          </div>
          <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
          <div class="flex gap-4 px-4 overflow-x-auto">
            <style>
              .brend {
                width: 13.3rem;
                height: 13.3rem;
                cursor: pointer;
              }
            </style>
            <img src="{% static 'yeezy.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=yeezy'" />
            <img src="{% static 'nike.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=nike'"/>
            <img src="{% static 'newbalance.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=newbalance'"/>
            <img src="{% static 'stoneisland.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=stoneisland'"/>
            <img src="{% static 'yeezy.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=yeezy'" />
            <img src="{% static 'nike.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=nike'"/>
            <img src="{% static 'newbalance.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=newbalance'"/>
            <img src="{% static 'stoneisland.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=stoneisland'"/>
            <img src="{% static 'yeezy.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=yeezy'" />
            <img src="{% static 'nike.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=nike'"/>
            <img src="{% static 'newbalance.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=newbalance'"/>
            <img src="{% static 'stoneisland.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=stoneisland'"/>
            <img src="{% static 'yeezy.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=yeezy'" />
            <img src="{% static 'nike.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=nike'"/>
            <img src="{% static 'newbalance.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=newbalance'"/>
            <img src="{% static 'stoneisland.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=stoneisland'"/>
            <img src="{% static 'yeezy.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=yeezy'" />
            <img src="{% static 'nike.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=nike'"/>
            <img src="{% static 'newbalance.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=newbalance'"/>
            <img src="{% static 'stoneisland.png' %}" class="brend" alt="Scanner" onclick="window.location.href='{% url 'pc_startcheck' %}?brand=stoneisland'"/>
          </div>
        </div>
        <div class="_2-home__frame-1000006070">
          <div class="_2-home__frame-10000060712">
            <div class="_2-home__div14">🔥 Самые популярные позиции</div>
          </div>
          <div class="_2-home__frame-1948754066">
            <div class="_2-home__frame-2131329245">
              <div class="_2-home__frame-1948754063">
                <div class="_2-home__frame-1000006069">
                  <div class="_2-home__frame-2131329248">
                    <div class="_2-home__frame-1948754064">
                      <div class="_2-home__frame-1948754075">
                        <img class="_2-home__image-107" src="{% static 'home_page/image-1070.png' %}" />
                        <img class="_2-home__image-110" src="{% static 'home_page/image-1100.png' %}" />
                      </div>
                      <div class="_2-home__frame-1000006063">
                        <div class="_2-home___1">#1</div>
                      </div>
                    </div>
                    <div class="_2-home__frame-2131329247">
                      <div class="_2-home__balenciaga-track-white-orange">
                        Balenciaga Track &quot;White Orange&quot;
                      </div>
                      <div class="_2-home__frame-1948754073">
                        <div class="_2-home__frame-10000060632">
                          <img class="_2-home__vector" src="{% static 'home_page/vector0.svg' %}" />
                          <div class="_2-home___231">231</div>
                        </div>
                        <div class="_2-home__frame-1948754065">
                          <div class="_2-home___43">43%</div>
                        </div>
                        <div class="_2-home__frame-19487540662">
                          <div class="_2-home___57">57%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="_2-home__frame-19487540663">
                <div class="_2-home__frame-10000060692">
                  <div class="_2-home__frame-2131329250">
                    <div class="_2-home__frame-1948754064">
                      <div class="_2-home__frame-1948754074">
                        <img class="_2-home__image-107" src="{% static 'home_page/image-1071.png' %}" />
                        <img class="_2-home__image-109" src="{% static 'home_page/image-1090.png' %}" />
                      </div>
                      <div class="_2-home__frame-1000006063">
                        <div class="_2-home___2">#2</div>
                      </div>
                    </div>
                    <div class="_2-home__frame-2131329249">
                      <div class="_2-home__stone-island-hoodie-sddasasd">
                        Stone Island Hoodie
                        <br />
                        sddasasd
                      </div>
                      <div class="_2-home__frame-1948754073">
                        <div class="_2-home__frame-10000060632">
                          <img class="_2-home__vector2" src="{% static 'home_page/vector1.svg' %}" />
                          <div class="_2-home___135">135</div>
                        </div>
                        <div class="_2-home__frame-1948754065">
                          <div class="_2-home___31">31%</div>
                        </div>
                        <div class="_2-home__frame-19487540662">
                          <div class="_2-home___69">69%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="_2-home__frame-1948754067">
                <div class="_2-home__frame-10000060692">
                  <div class="_2-home__frame-2131329252">
                    <div class="_2-home__frame-1948754064">
                      <div class="_2-home__frame-1948754075">
                        <img class="_2-home__image-107" src="{% static 'home_page/image-1072.png' %}" />
                        <img class="_2-home__image-110" src="{% static 'home_page/image-1101.png' %}" />
                      </div>
                      <div class="_2-home__frame-1000006063">
                        <div class="_2-home___1">#1</div>
                      </div>
                    </div>
                    <div class="_2-home__frame-2131329251">
                      <div class="_2-home__balenciaga-track-white-orange">
                        Balenciaga Track &quot;White Orange&quot;
                      </div>
                      <div class="_2-home__frame-1948754073">
                        <div class="_2-home__frame-10000060632">
                          <img class="_2-home__vector3" src="{% static 'home_page/vector2.svg' %}" />
                          <div class="_2-home___231">231</div>
                        </div>
                        <div class="_2-home__frame-1948754065">
                          <div class="_2-home___43">43%</div>
                        </div>
                        <div class="_2-home__frame-19487540664">
                          <div class="_2-home___572">57%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="_2-home__frame-1948754068">
                <div class="_2-home__frame-10000060692">
                  <div class="_2-home__frame-2131329254">
                    <div class="_2-home__frame-1948754064">
                      <div class="_2-home__frame-1948754074">
                        <img class="_2-home__image-107" src="{% static 'home_page/image-1073.png' %}" />
                        <img class="_2-home__image-109" src="{% static 'home_page/image-1091.png' %}" />
                      </div>
                      <div class="_2-home__frame-1000006063">
                        <div class="_2-home___2">#2</div>
                      </div>
                    </div>
                    <div class="_2-home__frame-2131329253">
                      <div class="_2-home__stone-island-hoodie-sddasasd">
                        Stone Island Hoodie
                        <br />
                        sddasasd
                      </div>
                      <div class="_2-home__frame-1948754073">
                        <div class="_2-home__frame-10000060632">
                          <img class="_2-home__vector4" src="{% static 'home_page/vector3.svg' %}" />
                          <div class="_2-home___135">135</div>
                        </div>
                        <div class="_2-home__frame-1948754065">
                          <div class="_2-home___31">31%</div>
                        </div>
                        <div class="_2-home__frame-19487540662">
                          <div class="_2-home___69">69%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="_2-home__frame-1948754069">
                <div class="_2-home__frame-10000060693">
                  <div class="_2-home__frame-19487540642">
                    <div class="_2-home__frame-1948754075">
                      <img class="_2-home__image-107" src="{% static 'home_page/image-1074.png' %}" />
                      <img class="_2-home__image-110" src="{% static 'home_page/image-1102.png' %}" />
                    </div>
                    <div class="_2-home__frame-1000006063">
                      <div class="_2-home___1">#1</div>
                    </div>
                  </div>
                  <div class="_2-home__balenciaga-track-white-orange2">
                    Balenciaga Track &quot;White Orange&quot;
                  </div>
                  <div class="_2-home__frame-19487540732">
                    <div class="_2-home__frame-10000060632">
                      <img class="_2-home__vector5" src="{% static 'home_page/vector4.svg' %}" />
                      <div class="_2-home___231">231</div>
                    </div>
                    <div class="_2-home__frame-1948754065">
                      <div class="_2-home___43">43%</div>
                    </div>
                    <div class="_2-home__frame-19487540664">
                      <div class="_2-home___572">57%</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="_2-home__frame-21313292362">
          <div class="_2-home__frame-1000006071">
            <div class="_2-home__div13">Видео-отзывы</div>
          </div>
          <div class="_2-home__frame-1948754038">
            <div class="_2-home__frame-19487540342"></div>
            <div class="_2-home__frame-1948754054"></div>
            <div class="_2-home__frame-1948754056"></div>
            <div class="_2-home__frame-19487540584"></div>
            <div class="_2-home__frame-1948754059"></div>
            <div class="_2-home__frame-19487540572"></div>
            <div class="_2-home__frame-1948754055"></div>
            <div class="_2-home__frame-1948754053"></div>
          </div>
        </div>
      </div>
      <div class="_2-home__frame-2131329238">
        <div class="_2-home__frame-2131329181">
          <div class="_2-home__frame-2131329243">
            <div class="_2-home__frame-2131329242">
              <div class="_2-home__frame-1000002421">
                <div class="_2-home__frame-2131328953">
                  <img class="_2-home__group-9001" src="{% static 'home_page/group-90010.svg' %}" />
                  <div class="_2-home__frame-1948754082">
                    <div class="_2-home__checker">
                      <span>
                        <span class="checker-span">Check</span><span class="checker-span2">er</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="_2-home__headline">
                  Legit Check - это профессиональный сервис с помощью которого вы
                  сможете проверить любую вещь на оригинальность.
                </div>
              </div>
              <div class="_2-home__headline2">
                © 2019- 2025 LEGIT CHECK. Все права защищены.
              </div>
            </div>
            <div class="_2-home__frame-2131329241">
              <div class="_2-home__frame-1948754013">
                <div class="_2-home__frame-1948753974">
                  <div class="_2-home__qr-code-1">
                    <img class="_2-home__vector6" src="{% static 'home_page/vector5.svg' %}" />
                    <div class="_2-home__qr-code-1-1">
                      <img class="_2-home__vector7" src="{% static 'home_page/vector6.svg' %}" />
                      <img class="_2-home__group5" src="{% static 'home_page/group4.svg' %}" />
                    </div>
                  </div>
                  <div class="_2-home__frame-1948753973">
                    <div class="_2-home__frame-1948753972"></div>
                    <div class="_2-home__frame-1948753971"></div>
                  </div>
                </div>
              </div>
              <a href="{% url 'pc_privacy_policy' %}" class="_2-home__headline3 button">Политика конфиденциальности</a>
              <a href="{% url 'pc_user_agree' %}" class="_2-home__headline4 button">Пользовательское соглашение</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'pc/sidebar.html' %}
  </div>
  
</body>
</html>