{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'head_page/vars.css' %}">
  <link rel="stylesheet" href="{% static 'head_page/style.css' %}">
  
  
  <style>
    .clickable-login {
  position: relative;
  cursor: pointer;
}

.clickable-login::after {
  content: "";
  position: absolute;
  inset: 0;
}

.clickable-login:hover {
  filter: brightness(1.05);
  transition: filter .25s ease;
}


    html {
        font-size: 0.52vw;
    }
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="_1-hi">
    <div class="_1-hi__frame-2131329239">
      {% include 'pc/header.html' %}
      <div class="_1-hi__frame-2131329235">
        <div class="_1-hi__frame-2131329234">
          <div class="_1-hi__frame-1948754057">
            <div class="_1-hi__image-upload-1"></div>
            <div class="_1-hi__image-upload-2"></div>
            <div class="_1-hi__frame-1948754008">
              <div class="_1-hi__div6">
                <span>
                  <span class="div-6-span">
                    Экспресс проверка
                    <br />
                  </span>
                  <span class="div-6-span2">обычной цене</span>
                </span>
              </div>
              <div class="_1-hi__div7">
                Дорогие клиенты, мы запускаем уникальную акцию ровно на неделю!
              </div>
            </div>
            <div class="_1-hi__frame-1948754126">
              <div class="_1-hi__ellipse-46"></div>
              <img class="_1-hi___4-1" src="{% static 'head_page/_4-10.png' %}" />
              <img class="_1-hi___4-3" src="{% static 'head_page/_4-30.png' %}" />
              <img class="_1-hi___4-32" src="{% static 'head_page/_4-31.png' %}" />
              <img class="_1-hi___4-33" src="{% static 'head_page/_4-32.png' %}" />
            </div>
            <div class="_1-hi__frame-1000001406">
              <div class="_1-hi__ellipse-43"></div>
              <div class="_1-hi__ellipse-44"></div>
              <div class="_1-hi__ellipse-45"></div>
            </div>
          </div>
          <div class="_1-hi__frame-1948754047">
            <div class="_1-hi__frame-1948754046">
              <div class="_1-hi__gradient-blur"></div>
              <div class="_1-hi__frame-1000006149">
                <img class="_1-hi__mask-group" src="{% static 'head_page/mask-group0.svg' %}" />
                <div class="_1-hi__background">
                  <img class="_1-hi__svg4" src="{% static 'head_page/svg3.svg' %}" />
                </div>
                <div class="_1-hi__div8">
                  Начать
                  <br />
                  проверку
                </div>
              </div>
            </div>
            <div class="_1-hi__frame-1000006150">
              <div class="_1-hi__div9">
                <span>
                  <span class="div-9-span">
                    Найти
                    <br />
                  </span>
                  <span class="div-9-span2">бренд</span>
                </span>
              </div>
              <div class="_1-hi__background2">
                <img class="_1-hi__svg5" src="{% static 'head_page/svg4.svg' %}" />
              </div>
              <div class="_1-hi__gradient-blur2"></div>
              <img class="_1-hi___1-2" src="{% static 'head_page/_1-20.png' %}" />
            </div>
          </div>
        </div>
        <div class="_1-hi__frame-2131329233">
          <div class="_1-hi__frame-1948754039">
            <div class="_1-hi__frame-1948754038">
              <img class="_1-hi__frame-19487540342" src="{% static 'head_page/frame-19487540341.svg' %}" />
              <div class="_1-hi__frame-1948754035">
                <div class="_1-hi__yeezy-logo-1">
                  <img class="_1-hi__group" src="{% static 'head_page/group0.svg' %}" />
                </div>
              </div>
              <div class="_1-hi__frame-1948754044">
                <img
                  class="_1-hi__frame-1948754058"
                  src="{% static 'head_page/frame-19487540580.svg' %}"
                />
              </div>
              <div class="_1-hi__frame-1948754037">
                <img
                  class="_1-hi__stone-island-logo-1"
                  src="{% static 'head_page/stone-island-logo-10.svg' %}"
                />
              </div>
              <img class="_1-hi__frame-1948754045" src="{% static 'head_page/frame-19487540450.svg' %}" />
              <div class="_1-hi__frame-19487540462">
                <div class="_1-hi__yeezy-logo-1">
                  <img class="_1-hi__group2" src="{% static 'head_page/group1.svg' %}" />
                </div>
              </div>
              <div class="_1-hi__frame-19487540472">
                <img
                  class="_1-hi__frame-19487540582"
                  src="{% static 'head_page/frame-19487540581.svg' %}"
                />
              </div>
              <div class="_1-hi__frame-19487540483">
                <img
                  class="_1-hi__stone-island-logo-12"
                  src="{% static 'head_page/stone-island-logo-11.svg' %}"
                />
              </div>
              <img class="_1-hi__frame-19487540494" src="{% static 'head_page/frame-19487540493.svg' %}" />
              <div class="_1-hi__frame-1948754050">
                <div class="_1-hi__yeezy-logo-1">
                  <img class="_1-hi__group3" src="{% static 'head_page/group2.svg' %}" />
                </div>
              </div>
              <div class="_1-hi__frame-1948754051">
                <img
                  class="_1-hi__frame-19487540583"
                  src="{% static 'head_page/frame-19487540582.svg' %}"
                />
              </div>
              <div class="_1-hi__frame-1948754052">
                <img
                  class="_1-hi__stone-island-logo-13"
                  src="{% static 'head_page/stone-island-logo-12.svg' %}"
                />
              </div>
            </div>
            <div class="_1-hi__frame-1000006071">
              <div class="_1-hi__div10">Кроссовки</div>
            </div>
          </div>
          <div class="_1-hi__frame-1948754040">
            <div class="_1-hi__frame-1948754038">
              <div class="_1-hi__frame-19487540343">
                <img
                  class="_1-hi__stone-island-logo-14"
                  src="{% static 'head_page/stone-island-logo-13.svg' %}"
                />
              </div>
              <div class="_1-hi__frame-1948754035">
                <img class="_1-hi__bape-1" src="{% static 'head_page/bape-10.svg' %}" />
              </div>
              <div class="_1-hi__frame-1948754036">
                <img class="_1-hi__supreme-logo-1" src="{% static 'head_page/supreme-logo-10.svg' %}" />
              </div>
              <div class="_1-hi__frame-1948754037">
                <img
                  class="_1-hi__palm-angels-logo-1"
                  src="{% static 'head_page/palm-angels-logo-10.svg' %}"
                />
              </div>
              <div class="_1-hi__frame-19487540382">
                <img
                  class="_1-hi__stone-island-logo-15"
                  src="{% static 'head_page/stone-island-logo-14.svg' %}"
                />
              </div>
              <div class="_1-hi__frame-19487540392">
                <img class="_1-hi__bape-12" src="{% static 'head_page/bape-11.svg' %}" />
              </div>
              <div class="_1-hi__frame-19487540402">
                <img class="_1-hi__supreme-logo-12" src="{% static 'head_page/supreme-logo-11.svg' %}" />
              </div>
              <div class="_1-hi__frame-1948754041">
                <img
                  class="_1-hi__palm-angels-logo-12"
                  src="{% static 'head_page/palm-angels-logo-11.svg' %}"
                />
              </div>
              <div class="_1-hi__frame-1948754042">
                <img
                  class="_1-hi__stone-island-logo-16"
                  src="{% static 'head_page/stone-island-logo-15.svg' %}"
                />
              </div>
              <div class="_1-hi__frame-1948754043">
                <img class="_1-hi__bape-13" src="{% static 'head_page/bape-12.svg' %}" />
              </div>
              <div class="_1-hi__frame-1948754044">
                <img class="_1-hi__supreme-logo-13" src="{% static 'head_page/supreme-logo-12.svg' %}" />
              </div>
              <div class="_1-hi__frame-19487540452">
                <img
                  class="_1-hi__palm-angels-logo-13"
                  src="{% static 'head_page/palm-angels-logo-12.svg' %}"
                />
              </div>
            </div>
            <div class="_1-hi__frame-1000006071">
              <div class="_1-hi__div10">Одежда</div>
            </div>
          </div>
          <div class="_1-hi__frame-19487540412">
            <div class="_1-hi__frame-1000006071">
              <div class="_1-hi__div10">Премиальная обувь</div>
            </div>
            <div class="_1-hi__frame-1948754038">
              <div class="_1-hi__frame-19487540344">
                <img
                  class="_1-hi__frame-19487540584"
                  src="{% static 'head_page/frame-19487540583.svg' %}"
                />
              </div>
              <div class="_1-hi__frame-19487540352">
                <div class="_1-hi__balenciaga-logo-1">
                  <img class="_1-hi__layer-1" src="{% static 'head_page/layer-10.svg' %}" />
                </div>
              </div>
              <div class="_1-hi__frame-19487540362">
                <div class="_1-hi__dior-logo-1">
                  <img class="_1-hi__layer-12" src="{% static 'head_page/layer-11.svg' %}" />
                </div>
              </div>
              <div class="_1-hi__frame-19487540372">
                <div class="_1-hi__louis-vuitton-logo-and-wordmark-1">
                  <img class="_1-hi__path-33" src="{% static 'head_page/path-330.svg' %}" />
                </div>
              </div>
              <div class="_1-hi__frame-19487540383">
                <img
                  class="_1-hi__frame-19487540585"
                  src="{% static 'head_page/frame-19487540584.svg' %}"
                />
              </div>
              <div class="_1-hi__frame-19487540393">
                <div class="_1-hi__balenciaga-logo-1">
                  <img class="_1-hi__layer-13" src="{% static 'head_page/layer-12.svg' %}" />
                </div>
              </div>
              <div class="_1-hi__frame-19487540403">
                <div class="_1-hi__dior-logo-1">
                  <img class="_1-hi__layer-14" src="{% static 'head_page/layer-13.svg' %}" />
                </div>
              </div>
              <div class="_1-hi__frame-19487540413">
                <div class="_1-hi__louis-vuitton-logo-and-wordmark-1">
                  <img class="_1-hi__path-332" src="{% static 'head_page/path-331.svg' %}" />
                </div>
              </div>
              <div class="_1-hi__frame-19487540422">
                <img
                  class="_1-hi__frame-19487540586"
                  src="{% static 'head_page/frame-19487540585.svg' %}"
                />
              </div>
              <div class="_1-hi__frame-19487540432">
                <div class="_1-hi__balenciaga-logo-1">
                  <img class="_1-hi__layer-15" src="{% static 'head_page/layer-14.svg' %}" />
                </div>
              </div>
              <div class="_1-hi__frame-19487540442">
                <div class="_1-hi__dior-logo-1">
                  <img class="_1-hi__layer-16" src="{% static 'head_page/layer-15.svg' %}" />
                </div>
              </div>
              <div class="_1-hi__frame-19487540453">
                <div class="_1-hi__louis-vuitton-logo-and-wordmark-1">
                  <img class="_1-hi__path-333" src="{% static 'head_page/path-332.svg' %}" />
                </div>
              </div>
            </div>
          </div>
          <div class="_1-hi__frame-19487540423">
            <div class="_1-hi__frame-19487540384">
              <div class="_1-hi__frame-19487540345"></div>
              <div class="_1-hi__frame-19487540353"></div>
              <div class="_1-hi__frame-19487540385"></div>
              <div class="_1-hi__frame-19487540394"></div>
              <div class="_1-hi__frame-19487540404"></div>
              <div class="_1-hi__frame-19487540424"></div>
              <div class="_1-hi__frame-19487540443"></div>
              <div class="_1-hi__frame-19487540454"></div>
              <div class="_1-hi__frame-19487540433"></div>
              <div class="_1-hi__frame-19487540463"></div>
              <div class="_1-hi__frame-19487540414"></div>
              <div class="_1-hi__frame-19487540373"></div>
            </div>
            <div class="_1-hi__frame-1000006071">
              <div class="_1-hi__div10">Премиальная одежда</div>
            </div>
          </div>
        </div>
      </div>
      <div class="_1-hi__frame-2131329238">
        <div class="_1-hi__frame-2131329181">
          <div class="_1-hi__frame-2131329243">
            <div class="_1-hi__frame-2131329242">
              <div class="_1-hi__frame-1000002421">
                <div class="_1-hi__frame-2131328953">
                  <img class="_1-hi__group-9001" src="{% static 'head_page/group-90010.svg' %}" />
                  <div class="_1-hi__frame-1948754082">
                    <div class="_1-hi__checker">
                      <span>
                        <span class="checker-span">Check</span><span class="checker-span2">er</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="_1-hi__headline">
                  Legit Check - это профессиональный сервис с помощью которого вы
                  сможете проверить любую вещь на оригинальность.
                </div>
              </div>
              <div class="_1-hi__headline2">
                © 2019 - 2025 LEGIT CHECK. Все права защищены.
              </div>
            </div>
            <div class="_1-hi__frame-2131329241">
              <div class="_1-hi__frame-1948754013">
                <div class="_1-hi__frame-1948753974">
                  <div class="_1-hi__qr-code-1">
                    <img class="_1-hi__vector" src="{% static 'head_page/vector0.svg' %}" />
                    <div class="_1-hi__qr-code-1-1">
                      <img class="_1-hi__vector2" src="{% static 'head_page/vector1.svg' %}" />
                      <img class="_1-hi__group5" src="{% static 'head_page/group4.svg' %}" />
                    </div>
                  </div>
                  <div class="_1-hi__frame-1948753973">
                    <div class="_1-hi__frame-1948753972"></div>
                    <div class="_1-hi__frame-1948753971"></div>
                  </div>
                </div>
              </div>
              <div class="_1-hi__headline3">Политика конфиденциальности</div>
              <div class="_1-hi__headline4">Пользовательское соглашение</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'pc/sidebar.html' %}
  </div>
  
</body>
</html>